@import "main.css";

.content {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 30px;
}

.content p {
    margin-bottom: 15px;
}

.content ul {
    list-style-type: disc;
}

.content ul li {
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    .content {
        text-align: justify;
    }
}

@media(max-width: 374px) {
    .content {
        padding: 20px;
    }
}