@import "reset.css";

html {
    background: url('../images/background.jpg');
}

/* #region pc */
.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 30px;
    min-height: 100%;
    font-family: "標楷體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px 50px 50px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    line-height: 1.6;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.4;
}

.subtitle {
    font-size: 1.6rem;
    padding: 10px 10px 0;
    text-align: center;
}

.menu {
    font-size: 1.2rem;
    display: flex;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}

.menu-item a {
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

.menu-item a:hover {
    background: #f80505;
    color: white;
    opacity: 0.5;
}

.footer {
    border-top: 1px solid #D0D0D0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.contact {
    padding: 5px;
}

/* #endregion */

/* #region device */
@media(max-width: 768px) {
    .container {
        padding: 20px;
    }

    .header {
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .header h1 {
        font-size: 2.5em;
    }

    .menu {
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .footer-descript {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 374px) {
    .header h1 {
        font-size: 2rem;
    }

    .menu {
        font-size: 1.1rem;
    }
}

/* #endregion */