@import "main.css";


ol {
    list-style-type: decimal;
}

/* #region pc */

.content {
    padding: 50px;
    max-width: 768px;
    margin: 0 auto;
}

.item {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    justify-content: space-between;
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}

.detail {
    padding: 20px;
    width: 70%;
}

.item-title {
    margin-bottom: 10px;
    text-align: center;
    background: rgba(215, 230, 19, 0.1);
}

.detail li {
    line-height: 1.2;
}

.detail ol {
    margin-left: 30px
}

.detail li ol {
    margin-top: 10px;
    margin-left: 30px;
}

/* #endregion */

@media(max-width: 768px) {
    .content {
        text-align: justify;
        padding: 0;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .item:nth-child(even) {
        flex-direction: column;
    }

    .detail {
        width: 100%;
    }

    .item img {
        width: 80%;
        margin: 0 auto;
    }
}

@media(max-width: 374px) {
    .content {
        padding: 0;
    }
}